<%- layout('layout') %>

<div class="container-profile">
    <div class="profile-info">
        <h3 class="title-profile">Perfil</h3>
        <form action="/profile/edit" method="POST">
            <% if (editinfomessage) { %>
                <h3 class="error-message"><%= editinfomessage %></h3>   
            <% }%>
            <p class="text-profile">Nombre: </p>             
            <input class="profile-input" type="text" value="<%= Name %>" name="Name">
            <p class="text-profile">Apellidos: </p>
            <input class="profile-input" type="text" value="<%= Lastname %>" name="Lastname">
            <p class="text-profile">Celular: </p>
            <input class="profile-input" type="text" value="<%= Cellphone %>" name="Cellphone">
            <button class="button-profile">Actualizar datos</button>
        </form>
    </div>
    <div class="profile-pass">
        <h3 class="title-profile">Contraseña</h3>
        <form action="/password/edit" method="POST">
            <% if (editpassmessage) { %>
                <h3 class="error-message"><%= editpassmessage %></h3>   
            <% }%>
            <p class="text-profile">Vieja Contraseña: </p>
            <input class="profile-input" type="password" name="OldPassword">
            <p class="text-profile">Nueva Contraseña: </p>
            <input class="profile-input" type="password" name="NewPassword">
            <p class="text-profile">Repetir Contraseña: </p>
            <input class="profile-input" type="password" name="RepitPassword">  
            <button class="button-profile">Actualizar Contraseña</button>
        </form>
    </div>
</div>